@import "tailwindcss";

@theme {
  --color-primary-500: #1976d2;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: #f5f5f5;
    /* App default background */
    --foreground: #333333;
    --card: #ffffff;
    --border: #e1e1e1;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  padding-bottom: env(safe-area-inset-bottom);
  overscroll-behavior-y: none;
}

html,
#root {
  min-height: 100dvh;
  min-height: -webkit-fill-available;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}